In [109]:
import pandas as pd
import json
import os
import ipdb
import numpy as np

In [135]:
config_file_path = input()
config_file = open(config_file_path)
config = json.load(config_file)

In [136]:
output_folder = os.path.join(config['output_folder'], config['experiment_name'])
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

In [126]:
def save_df_to_csv(df, output_file):
    # create the folder if not exists yet
    if not os.path.exists(os.path.dirname(output_file)):
        os.makedirs(os.path.dirname(output_file))

    # Write DataFrame to csv file
    df.to_csv(output_file, index=False)

In [127]:
def read_experimental_dfs(config):
    dfs = []

    for file in config["files"]:
        df = pd.read_csv(file)
        df = df.rename(columns={df.columns[0]: "unique_17"})
        dfs.append(df)

    return dfs

In [137]:
lib_csv_path = config["lib_csv_path"]
lib_df = pd.read_csv(lib_csv_path)

In [138]:
dfs = read_experimental_dfs(config)

In [139]:
dfs[0].head()

,unique_17,CD4_mean,DS_mean,M,D,prob,ranking
0,CGTCCTGTGATCAAGGG,309.161169,0.430100,9.489471,308.731069,0.971130,308.876873
1,ATCAGTGCTCTTTATGG,589.818117,3.655852,7.333919,586.162265,0.966497,586.208143
2,AAAGAGCTGGGGGCATT,871.242486,13.333107,6.029989,857.909379,0.943051,857.930570
3,GTCGTTCCAATCGTCCA,941.297091,19.784610,5.572200,921.512481,0.930297,921.529328
4,GTCCACTTCGGGAAACA,9558.232808,346.230677,4.786938,9212.002132,0.907797,9212.003375

In [140]:
dfs[0].shape[0]

630

In [141]:
def run_experiment_analysis(dfs):
    shared_de = dfs[0]['unique_17'].copy()
    for i in range(1, len(dfs)):
        df = dfs[i]
        shared_de = pd.Series(list(set(shared_de) & set(df['unique_17'])))

    return shared_de

In [142]:
overall_de = run_experiment_analysis(dfs)

In [143]:
overall_de

0     TAACCGAAACCCAACCG
1     CAGATCCGGCAGGAAGA
2     GGTTTTCTGCTGACTAA
3     GAAGCTCTGTGAGATTT
4     AGTCCAGGTTTTATCTC
5     AAACCCTGTATGCCAAG
6     GCTTAGGAGCACTTGTA
7     TACGCGATGTCAGAGCT
8     CTCTCTTGTCCCGCGAT
9     GGAGTGGCTAAATCTAA
10    TTCGCAATGCTCTTCGG
11    AACGATCTGCCGACATA
12    AGGGTCATAACACCCAG
13    ATGATCACGTAGCCTAT
14    TCGTGCTTAAACTCCTG
15    AAAGAGCTGGGGGCATT
16    ACGTCTGGCATGCAACC
17    CCTCTTAACCTCAGCCC
18    CATCAGAGTGTTTGATC
19    GGAATCCTGATAACAGG
20    TGACACTCGAGCTATAC
21    CTTAGTGCCGCCGTTTT
22    CAGGAGCCGGAACTTAG
23    CAACCCCGGACCCATAT
24    CGTCCTGTGATCAAGGG
25    AACAACAAATAGAGCCC
dtype: object

In [ ]:
# T - 0.8
# 0    CTTAGTGCCGCCGTTTT
# 1    TAACCGAAACCCAACCG
# 2    AAAGAGCTGGGGGCATT
# 3    CAACCCCGGACCCATAT
# 4    CTCTCTTGTCCCGCGAT
# 5    CCTCTTAACCTCAGCCC
# 6    AGGGTCATAACACCCAG

In [ ]:
# T - 0.7
# 0     CTTAGTGCCGCCGTTTT
# 1     GCTTAGGAGCACTTGTA
# 2     TACGCGATGTCAGAGCT
# 3     TAACCGAAACCCAACCG
# 4     CTCTCTTGTCCCGCGAT
# 5     AAAGAGCTGGGGGCATT
# 6     CAACCCCGGACCCATAT
# 7     CCTCTTAACCTCAGCCC
# 8     GGAATCCTGATAACAGG
# 9     AGGGTCATAACACCCAG
# 10    AACAACAAATAGAGCCC

In [ ]:
# T - 0.6
# 0     CTTAGTGCCGCCGTTTT
# 1     GCTTAGGAGCACTTGTA
# 2     TACGCGATGTCAGAGCT
# 3     ATGATCACGTAGCCTAT
# 4     TAACCGAAACCCAACCG
# 5     CAGATCCGGCAGGAAGA
# 6     CTCTCTTGTCCCGCGAT
# 7     TCGTGCTTAAACTCCTG
# 8     AAAGAGCTGGGGGCATT
# 9     GGAGTGGCTAAATCTAA
# 10    CAACCCCGGACCCATAT
# 11    CGTCCTGTGATCAAGGG
# 12    ACGTCTGGCATGCAACC
# 13    AGTCCAGGTTTTATCTC
# 14    CCTCTTAACCTCAGCCC
# 15    GGAATCCTGATAACAGG
# 16    AGGGTCATAACACCCAG
# 17    AACAACAAATAGAGCCC

In [ ]:
# T - 0.55
# 0     TAACCGAAACCCAACCG
# 1     CAGATCCGGCAGGAAGA
# 2     GGTTTTCTGCTGACTAA
# 3     GAAGCTCTGTGAGATTT
# 4     AGTCCAGGTTTTATCTC
# 5     AAACCCTGTATGCCAAG
# 6     GCTTAGGAGCACTTGTA
# 7     TACGCGATGTCAGAGCT
# 8     CTCTCTTGTCCCGCGAT
# 9     GGAGTGGCTAAATCTAA
# 10    TTCGCAATGCTCTTCGG
# 11    AACGATCTGCCGACATA
# 12    AGGGTCATAACACCCAG
# 13    ATGATCACGTAGCCTAT
# 14    TCGTGCTTAAACTCCTG
# 15    AAAGAGCTGGGGGCATT
# 16    ACGTCTGGCATGCAACC
# 17    CCTCTTAACCTCAGCCC
# 18    CATCAGAGTGTTTGATC
# 19    GGAATCCTGATAACAGG
# 20    TGACACTCGAGCTATAC
# 21    CTTAGTGCCGCCGTTTT
# 22    CAGGAGCCGGAACTTAG
# 23    CAACCCCGGACCCATAT
# 24    CGTCCTGTGATCAAGGG
# 25    AACAACAAATAGAGCCC